<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <img src="https://ibb.co/KXs7QM1" title="World's Best Dog">
        <p>This is my dog Tippi, she is the best dog ever.</p>
    </body>
</html>